services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kuroji
    #ports:             # Don't publish these ports in prod
    #  - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    #ports:             # Don't publish these ports in prod
    #  - '6379:6379'

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kuroji-api
    restart: always
    env_file:
      - .env
    environment:
      - REDIS_USERNAME=
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
      - DATABASE_URL=postgresql://prisma:postgres@postgres:5432/kuroji
    ports:
      - '3000:3000'
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
