services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kuroji
    volumes:
      - postgres_data:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: redis
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/daffineq/kuroji-api
    container_name: kuroji-api
    restart: always
    env_file:
      - .env
    environment:
      - REDIS_USERNAME=
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
      - DATABASE_URL=postgresql://prisma:postgres@postgres:5432/kuroji
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
